<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISO 3166-2:</title>
    <meta name="viewport" content="width=device-width">
    <meta content="Get latest data fields to all ISO3166 countries via a RESTful API" name="description">
    <meta name="keywords" content="iso,iso3166,iso3166-2,rest,api,countries,subdivisions,world,json">
    <meta name="author" content="AJ McKenna">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="icon" type="images/svg" href="https://upload.wikimedia.org/wikipedia/commons/e/e3/ISO_Logo_%28Red_square%29.svg" />
</head>

<body>
    <!-- <h1>ISO 3166-2 App!</h1> -->
    {{ string|tojson }}
</body>
</html> 